
<div class="container">
    <div class="row">
        <div class="col-sm-12"> 
            <h2>Geolocalização RMC de Campinas.</h2>                
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12"> 
            <button type="button" class="btn btn-outline-primary" (click)="adicionaMarcador()">Cidades visinhas</button> &nbsp;
            <button type="button" class="btn btn-outline-secondary" (click)="adicionaProduto()">Marcador</button> &nbsp;
            <button type="button" class="btn btn-outline-success" (click)="desenhaCampinas()">Marcar Campinas</button>                           
        </div>
    </div><br>
    <div class="row">
      <div class="map-container">
        <div class="map-frame">
          <div id="map"></div>
        </div>
    </div>
    </div>        
</div>



