
@import "~leaflet/dist/leaflet.css";

.map-container {
    width: 1150px;
    height: 500px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }