
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <div class="container">
        <div class="row">
            <div class="col-sm-12"> 
                <h2>Geolocalização dos botecos de Campinas.</h2>                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"> 
                <button type="button" class="btn btn-outline-primary" onclick="adicionaMarcador()">Cidades visinhas</button> &nbsp;
                <button type="button" class="btn btn-outline-secondary" onclick="adicionaProduto()">Add Scooter</button> &nbsp;
                <button type="button" class="btn btn-outline-success" onclick="desenhaCampinas()">Marcar Campinas</button>                           
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-12" id="mapid"></div>
        </div><br>
    </div>


