
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<div class="container-fluid" style="text-align:center;">
        <h2>Formulário</h2>
        <div class="container-fluid">     
            <div class="row">
                <div class="col-sm">
                    <div><br>
                        <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
                    </div>                   
                </div>
            <div class="col-sm">
                <div class="container">
                    <h3>Dados Pessoais</h3>
                    <p>Make the viewport larger than 768px wide to see that all of the form elements are inline, left aligned, and the labels are alongside.</p>
                    <form class="form-inline" action="/action_page.php">
                        <div class="form-group espBaixo">
                            <b for="nome">Nome:</b>
                            <input type="nome" class="form-control" id="nome" placeholder="Entre com o nome" name="nome">
                        </div>                        
                        <div class="form-group espBaixo">
                            <b for="email">Email:</b>
                            <input type="email" class="form-control" id="email" placeholder="Entre com o email" name="email">
                        </div>
                        <div class="form-group espBaixo">
                            <b for="tel">Telefone:</b>
                            <input type="text" class="form-control" id="tel" placeholder="Entre com o telefone" name="tel">
                        </div>
                    </form>
                </div>                                   
            </div>
            <div class="col-sm">
                    <h5>Botões</h5>
                    <div class="container">
                            <h2>Button Outline</h2>
                            <button type="button" class="btn btn-outline-primary">Primary</button>
                            <button type="button" class="btn btn-outline-secondary">Secondary</button>
                            <button type="button" class="btn btn-outline-success">Success</button>
                            <button type="button" class="btn btn-outline-info">Info</button>
                            <button type="button" class="btn btn-outline-warning">Warning</button>
                            <button type="button" class="btn btn-outline-danger">Danger</button>
                            <button type="button" class="btn btn-outline-dark">Dark</button>
                            <button type="button" class="btn btn-outline-light text-dark">Light</button>
                          </div>
                </div>
            </div>
        </div>  
    </div>


    