.float-left {
    color: #00b5b0;
}

.float-center {
  color: #00b5b0;
  text-align: center;
}

th {
  width: 100px
}

.links-tabela{
  color: #00b5b0;
  text-decoration: underline;
  cursor: pointer;
  text-align: center
}

.infoDados {
  font-size: 11px;
  font-weight: bold;
}

.titCollapse {
  cursor:pointer; 
  color: #00b5b0
}

.img-Adjust {
  max-width:240px; 
  margin-top: 20px
}

@media (max-width: 480px) {

  .table-action thead {
    display: none;
  }

  .table-action tr {
    border-bottom: 1px solid black;
  }
  .table-action td {
    border: 0;
  }

  .table-action td:not(:first-child) {
    display: block;
  }

}

/* ************************************************ */


